<html>
	<head>
	    <title>{{title}}</title>
	    <link rel="stylesheet" href="/stylesheets/style.css"></link>
	</head>
	<body>
		<div class="header">
			<h1>This is a Header Section</h1>
		</div>

		<div class="body">
			{{{body}}}
		</div>

		<div class="footer">
			<h1>This is a Footer section</h1></center>
		</div>

	</body>
</html>


